@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0; /* Remove default body margin */
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  z-index: -1;
}

/* NAVBAR */
.nav, .logo i, .logo{
  transition: .3s;
}

.nav:hover, .logo i:hover{
  color: #0277B5 !important;
  font-weight: bold !important;
}

.logo:hover {
  transform: scale(1.2); /* You can adjust the scale factor as needed */
}

/* HERO */
.greeting, .description, .name{
  transition: 1s ease-in-out;
}

@media screen and (max-width: 675px) {
  .greeting, .description {
    font-size: 14px !important;
  }

  .name {
    font-size: 60px !important;
  }
}

@media screen and (max-width: 445px) {
  .greeting, .description {
    font-size: 14px !important;
  }

  .name {
    font-size: 50px !important;
  }
}

/* PROJECTS */
.title, .desc{
  transition: .3s ease-in-out;
}
@media screen and (max-width: 675px) {

  .techstack,.desc{
    font-size: 14px !important;
    font-weight: normal !important;

  }

}

.btn{
  transition: .3s ease-in-out;
  background-color: rgba(255, 255, 255, 0.439);
}

.project{
  transition: .5s ease-in-out;
}

.project:hover{
  padding: 20px;
}

.project:hover .btn { /* change color of the child element when hovered on the parent element */
  background-color: #0277B5; /* Change the color to your preference when hovered */
  color: white !important; /* Change the text color to your preference when hovered */
}
