@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}
html {
  scroll-behavior: smooth;
}
/*
body {
  margin: 0;  Remove default body margin
  background: url('bg.gif') no-repeat center center fixed;
  background-size: cover;
  z-index: -1;
}
 */


/* NAVBAR */
.nav, .logo i, .logo{
  transition: .3s;
}

.nav:hover, .logo i:hover{
  color: #0277B5 !important;
}

.logo:hover {
  transform: scale(1.2); /* You can adjust the scale factor as needed */
}

/* HERO */
.greeting, .description, .name{
  transition: 1s ease-in-out;
}

@media screen and (max-width: 675px) {
  .greeting, .description {
    font-size: 14px !important;
  }
  .name{
    font-size: 55px !important;
  }

}

@media screen and (max-width: 445px) {
  .greeting, .description {
    font-size: 14px !important;
  }

}

/* PROJECTS */
.title, .desc, .skill{
  transition: .3s ease-in-out !important;
}

.skill:hover{
  transform: scale(1.01) !important;
}
@media screen and (max-width: 675px) {

  .techstack,.desc, .skill{
    font-size: 14px !important;
    font-weight: normal !important;

  }

}

.btn{
  transition: .3s ease-in-out;
  background-color: rgba(255, 255, 255, 0.439);
}

.project{
  transition: .5s ease-in-out;
}

.project:hover{
  padding: 20px;
}

.project:hover .btn { /* change color of the child element when hovered on the parent element */
  background-color: #0277B5; /* Change the color to your preference when hovered */
  color: white !important; /* Change the text color to your preference when hovered */
}

.skill-div:hover .desc{
  font-weight: bold !important;
  color: #0277B5 !important; 
}

.skill-div img{
  transition: .3s ease-in-out;
}
.skill-div:hover img{
  transform: scale(1.2);
}

.btn:hover{
  color: white !important;
}

.contact{
  transition: .3s ease-in-out !important;
}

.contact:hover{
    transform: scale(1.03) !important;
}